Package: eu.kvaek.smuggle
Name: Smuggle
Version: 1.2
Architecture: iphoneos-arm
Description: Hide selected apps from different places
Maintainer: Kvaek
Author: Kvaek
Homepage: https://www.kvaek.eu/
Section: Tweaks
Depiction: https://repo.kvaek.eu/depictions/web/?p=eu.kvaek.smuggle
SileoDepiction: https://repo.kvaek.eu/depictions/native/eu.kvaek.smuggle/depiction.json
Icon: https://repo.kvaek.eu/depictions/native/eu.kvaek.smuggle/icon.png
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.15.1), com.spark.libsparkapplist
